.icon-bar{
  background-color: white;
}

.navbar-logo{
  width:20%;
}

.contentn-section{
  min-height:60vh;
}

.headers{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 70px;
  margin: 1% 0 !important;
  color:white !important;
  text-align: center;
}

.menu-tabs{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom:25px;
}

.menu-tabs a{
  padding: 4px 15px;
}

.menu-button{
  color:white;
  margin:5px 0 0 10px;
  border:solid 1px white;
}

.menu-button:hover{
  background-color: var(--main-red);
  color:white;
  border:solid 1px var(--main-red);
  text-decoration: none;
}

.temp-active{
  background-color: var(--main-red);
  border:solid 1px var(--main-red);
}

.menu-button:visited{
  text-decoration: none;
}


.menu-jumbotron{
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8)
  ),
  url("../img/hero-steak.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:0% 10%;
}

.no-padding{
  padding:0 !important;
}
.menu-list{
color: var(--main-red);
background-color:white;
font-family: 'Playfair Display', serif;
font-weight: 400;
cursor: pointer;
padding: 18px;
width: 100%;
border:solid 1px black;
text-align: center;
font-size: 22px;
transition: 0.1s;
overflow: hidden;
}


.padding-top{
  padding-top: 10px;
}

.category-info{
  background-color:#dfe4ea;
  padding: 10px;
  margin-bottom: 10px;
}

.menu-list:after {
content: '\002B';
color: var(--main-red);
font-weight: bold;
float: right;
margin-left: 5px;
}

.active:after {
content: "\2212";
}

.items{
  padding:0 10px;
}
.menu-items{
border:solid 1px black;
border-top: none;
border-bottom: none;
display: none;
background-color: white;
overflow: hidden;
}

.float-right{
  float: right;
}

.float-left{
  float:left;
}

.food-item{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 2px;
  text-transform: capitalize;
}
.item-container:after {
  content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.item-description:before {
  content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


.border-bottom{
  border-bottom: solid 1px black;
}


.footer{
  background-color: black;
  padding:10px;
  margin-top: 30px;

}

.logo-white{
height:70px;
}

.copyright{
padding-top: 30px;
color:white;
}

.social-media{
padding-top: 20px;
color:white;
font-size: 25px;
}

.fa-facebook-square{
  margin-right: 15px;
}

.social-links:link{
  color: white;
}

.social-links:visited{
  color: white;
}

.social-links:hover {
  color:var(--main-red);
}

.social-links:active{
  color: white;
}


#bootstrap-overrides jumbotron{
  line-height: 1;
  margin-bottom: 0px;
}
