:root {
    --main-red:#9e050d;
}

body{
  margin: 0;
}


.footnote{
  color:#7f8c8d;
}

.main-container{
  position: relative;
  height:100%;
  width:100%;
  overflow: hidden;

}

.contact-jumbotron p{
letter-spacing:1.2px;
}


.hero{
  width:100vh;
  height:100vh;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8)
  ),
  url("../img/hero-steak.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-nav{
  position: absolute;
  top: 12vh;
}
.home-nav a{
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  color:white !important;
  text-transform: uppercase;
  letter-spacing: .4pt;
}


.nav-button:hover{
  background-color: var(--main-red);
  color:white;
  border: 1px solid var(--main-red) !important;
}

.nav-button{
  width:200px;
  background-color:none;
  border: 1px solid white !important;
}



.my-buttons{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}


.logo{
  width:100%;
  padding:5% 10% 2% 10%;
}

/* Universal Styles */




.navbar {
  background: var(--main-red);
  margin-bottom: 0;
}

.no-radius{
  border-radius:0 !important;
}

.main-nav{
  margin-bottom: 0 !important;
}

.main-nav a{
  color:white;
  font-family: 'Lato', sans-serif;
}
.my-nav{
  text-transform:uppercase;
  letter-spacing: .8px;
}

.my-nav a{
background-color: transparent !important;
}

.my-nav a:link{
  color: white;
}

.my-nav a:visited{
  color: white;
}

.nav-logo{
  height:50px;
  padding:5px 0px 5px 8px;
}

.active-link{
  border-bottom: 5px solid white;
}

.not-active:hover{
    border-bottom: 5px solid white !important;
}




/*Contact page*/

 /* Gmap */



#map {
    width: 100%;
    height: 70vh;
    min-height: 900px;
    background-color: grey;
    text-align: center;
  }


  .contact-info p{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }

  .contact-info{
      padding: 0 20px 20px 20px;
  }


.contact-jumbotron {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  color:white !important;
  text-align: center;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  ),
  url("../img/hero-steak.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:0% 10%;
}

.location-header{
  padding-bottom: 30px;
}



.contact-headers{
  color:var(--main-red);
  font-size:40px;
  font-family: 'Playfair Display', serif;
}

.contact-subhead{
  color:var(--main-red);
  font-family: 'Playfair Display', serif;
  font-size: 28px;
}

.footer-contact{
  background-color: black;
  padding:10px;
  margin-top: 0px;
}


@media (max-width:767px){
  .not-active:hover {
    border-bottom: none !important;
  }

  .active-link{
  border: none;
  }

  #map{
    min-height: 300px !important;
  }



}
